* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    225deg,
    #410025 0%,
    #562b7c 52%,
    #2b86c5 100%
  );
  /* overflow-y: hidden; */
}

audio {
  position: absolute;
  top: 10px;
  left: 10px;
}

.fa-music {
  color: #fff;
  position: absolute;
  top: 80px;
  left: 20px;
}
.fa-envelope {
  color: #fff;
  position: absolute;
  top: 110px;
  left: 20px;
}

.night {
  height: 90vh;
  width: 90vw;
  /* border: 1px dashed red; */
  margin: 2rem auto;
  border-radius: 20px;
  border-top-left-radius: 30px;
  background: url("Img_1.png");
  background-size: cover;
  position: relative;
  box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
}
.surface {
  height: 140px;
  width: 500%;
  background: url("Img_02.png");
  position: absolute;
  bottom: 20px;
  left: 0;
  background-repeat: repeat-x;
  animation: movingForward 8s linear infinite;
}
@keyframes movingForward {
  /* 0% {
    transform: translateX(0);
  } */
  100% {
    transform: translateX(-2950px);
  }
}

.sun {
  position: absolute;
  top: 80px;
  right: 60px;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px #ffff5b, 0 0 60px #ffff5b, 0 0 80px #ffff5b,
    0 0 100px #ffff5b;
}

.fa-star {
  position: absolute;
  top: calc(10% + 8% * var(--i));
  right: calc(30% + 20% * var(--i) * var(--i) / 1.8);
  color: #fff;
  font-size: 1.5em;
  filter: drop-shadow(0 0 10px #ffff5b);
}
.fa-star.falling {
  animation: falling 1.5s linear 1s infinite;
  position: absolute;
  top: -20px;
  right: 30px;
  font-size: 0.5em;
}
.fa-star.falling2 {
  animation: falling 1.5s linear 1s infinite;
  position: absolute;
  top: -60px;
  right: -160px;
  font-size: 0.5em;
}
@keyframes falling {
  100% {
    transform: translateX(-1000px) translateY(300px);
  }
}
.fa-star-of-life {
  position: absolute;
  top: calc(40% + 8% * var(--i));
  left: calc(40% + 20% * var(--i));
  color: #fff;
  font-size: 0.3em;
  filter: drop-shadow(0 0 10px #ffff5b);
}
.road {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #333;
}
.road::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: #0f0f17;
}
.road-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: repeating-linear-gradient(
    90deg,
    transparent 0,
    transparent 50%,
    #fff 50%,
    #fff 100%
  );
  /* border: 1px dashed red; */
  background-size: 20px;
  animation: animateRoad 0.2s linear infinite;
}
.road .fast {
  animation: animateRoad 0.1s linear infinite;
}
@keyframes animateRoad {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -20px;
  }
}

.car {
  position: absolute;
  bottom: 17px;
  left: 12%;
  /* border: 1px dashed red; */
  animation: suspension 1s linear infinite;
  transition: 0.5s ease-in-out;
}
@keyframes suspension {
  0% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-1px);
  }
}
.car .car-frame {
  width: 300px;
  filter: drop-shadow(-8px 5px 0 rgba(0, 0, 0, 0.5));
  transition: 0.5s;
  cursor: pointer;
}
.car .jump {
  /* transform: translateY(-40px); */
  animation: jump 2s linear;
}
@keyframes jump {
  0% {
    transform: rotate(0) translateY(0px);
  }
  25% {
    transform: rotate(-3deg) translateY(-15px);
  }
  50% {
    transform: rotate(-5deg) translateY(-50px);
  }
  60% {
    transform: rotate(-2deg) translateY(-70px);
  }
  80% {
    transform: rotate(5deg) translateY(-15px);
  }
  100% {
    transform: rotate(1deg) translateY(0px);
  }
}
.car .front-wheel {
  /* border: 1px dashed red; */
  position: absolute;
  top: 84px;
  right: 26px;
  width: 30px;
  animation: wheelRotation 1s linear infinite;
}
.front-wheel.hide,
.rear-wheel.hide {
  opacity: 0;
  /* top: 43px; */
}
.car .rear-wheel {
  /* border: 1px dashed red; */
  position: absolute;
  top: 89px;
  left: 64px;
  width: 30px;
  animation: wheelRotation 1s linear infinite;
}

@keyframes wheelRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
